/*! autoprefixer grid: autoplace */
.main{
  box-sizing: border-box;
  background-image: url("../assets/images/pattern.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 65px;
}
.header{
  font-family: 'Exo 2', sans-serif;
  font-size: 36px;
  color: white;
  padding-bottom: 30px;
  text-align: center;
}
.cards{
  width: calc(100% - 80px);
  display: grid;
  margin: 0px 80px;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: space-around;
  grid-row-gap: 10px;
  grid-column-gap: auto;
}
